numpy==1.26.4
scipy>=1.11.1
scikit-learn>=1.3.0
f3dasm==1.4.4
flake8==7.1.1
matplotlib
pandas
sphinx
jupyter
sphinx_rtd_theme
sphinx_autodoc_typehints

# package from a specific repository
git+https://github.com/JiaxiangYi96/mfpml.git@yaga#egg=mfpml